body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr{
    width: 500px;
}

#errorSteps{
    color: coral;
}

#SudokuBoard{
    width: 450px;
    height: 450px;

    /* background-color: antiquewhite; */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

}
.InputBox{
    width: 48px;
    height: 48px;

    border: 1px solid lightgray;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

}

#AddDigits{
    width: 450px;
    height: 50px;

    /* background-color: antiquewhite; */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.inputNumber{
    width: 450px;
    height: 48px;
    margin: 2px;
    border: 1px solid black;
    border-radius: 12px;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}

.inputNumber-selected{
    background-color: goldenrod;
}

.InputBox-start{
    background-color: whitesmoke;
}

.horizontal-line{
    border-bottom: 1px solid black;
}

.vertical-line{
    border-right: 1px solid black;
}